.restaurantHeader {
  background: #171a29;
  height: 14rem;
  display: flex;
}

.headerProfile {
  width: 15%;
  margin: 1rem;
  margin: 0.3rem 1rem 1rem 2rem;
}

.headerProfilePic {
  margin: 1rem 0 0.2rem 3.2rem;
  width: 55%;
  height: 59%;
  border-radius: 50%;
}

.headerProfile > h5 {
  text-align: center;
  margin-bottom: 0;
  color: rgb(255, 255, 255);
}

.profilePic {
  display: flex;
  margin-left: 3rem;
  color: rgb(170, 170, 234);
}

.photoIcon {
  margin: 0;
  padding-top: 0;
}

.profilePic > h6 {
  padding-top: 5px !important;
  margin-left: 4px;
  color: white;
  font-size: 1rem;
}

.headerProfile > h6 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
}

.restaurantDetailsHeader {
  width: 55%;
  margin: 1.4rem;
}

.restaurantDetailsHeader > h1 {
  color: rgb(242, 225, 225);
  margin-bottom: 0.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.restaurantDetailsHeader > h4 {
  color: white;
  font-weight: 370;
  margin: 0.1rem 0.2rem;
  font-size: 1.3rem;
}

.restaurantRatingSection {
  display: flex;
  margin-top: 0.4rem ;
}

.restaurantRatingSection > h5 {
  color: rgb(211, 37, 37);
  background-color: white;
  font-weight: 500;
  margin: 0.4rem 0.2rem;
  font-size: 1rem;
  padding: 0.1rem;
  border: 1px solid rgb(186, 186, 159);
  width: 18%;
  text-align: center;
  border-radius: 20px;
}

.ratingIcon {
  position: relative;
  top: 3px;
  margin-right: 0.3rem;
  font-size: large;
  font-weight: 900;
}
.restaurantRatingSection > button {
  position: relative;
  left: 20%;
  margin-top: 3px;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0rem 1.5rem;
  background-color: red;
  color: white;
  border: 1px solid red;
}

.restaurantDetailsHeader > p {
  position: relative;
  top: 2px;
  margin: 0.1rem 0.3rem;
  font-size: large;
  color: whitesmoke;
}

.restaurantImageHeader {
  width: 25%;
}

.restaurantCoverImage > img {
  width: 100%;
  height: 14rem;
}

.menuTab .ant-tabs-nav-list{  
  padding: 0.3rem 1rem;  
}

.menuTab .ant-tabs-tab-btn{    
  font-size: 1.1rem; 
}

.imageGallery{
  margin: 3rem 10rem;
  width: 35%;
  height: 20rem; 
  object-fit: contain;
}

.image-gallery-slides {
  width: 100%;
  height: 20rem !important;
  object-fit: contain;
}

.image-gallery-image {
  object-fit: contain;
}